




.alertmessage {
    display: flex;
    justify-content: center;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: #C21010;
    background-color: #CFE8A9;
    border-radius: 2px;
    margin: 5px;
    width: 300px;


}

